

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  margin-left: 5px;
}

button:hover {
  background-color: #03aef1;
}

input[type='text'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  margin: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 50%;
  margin-left: 20%;
  height: 30px;
  font-size: 18px;
}

input[type='text']:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.add-album-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.add-album-container button {
  margin-left: 10px;
}

